/* ----- common styles ----- */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#particles-js {
  width: 100%;
  height: max-content;
  min-height: 100vh;

  background-color: #000;
  background-size: 100%;
  background-repeat: repeat;
}

.particles-js-canvas-el {
  position: fixed;
  z-index: -1;
}

body {
  width: 100%;
  height: max-content;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h1 {
  font-family: "Lucien", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
}

h2 {
  font-family: "Lucien", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #838383;
  padding: 25px 0;
  margin: 0;
}

/* #address-detail {
  padding-bottom: 10px;
} */

span,
input,
p {
  font-family: "Lucien", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

p {
  margin: 0;
}

a {
  font-family: "Lucien", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #3a3939;
  text-decoration: underline;
}

label {
  font-family: "Lucien", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  width: max-content;
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: #4f4f4f;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grey-color {
  color: #a3a2a2;
}

::placeholder {
  color: #cccaca;
}

.gender span::before,
.input label::before,
.file label::before,
#subscription-title:before,
.form-group label::before,
#file-label::before {
  content: "*";
  color: #a10012;
  position: relative;
  top: 0;
  left: 0;
}

.text-error,
.text-error-checkbox,
.text-error-length,
.text-error-size,
.text-gender-error,
.text-subscription-error,
.text-partner-gender-error,
.text-format-error,
.number-format-error {
  display: none;
  color: #a10012;
}

/* .border-error {
  border: 1px solid #a10012;
} */

/* ----- another styles ----- */

main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: calc(100% - 100px);
  padding: 50px;
  margin: 50px auto 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

@media (max-width: 576px) {
  main {
    width: calc(100% - 50px);
    padding: 25px;
  }
}

main .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px;
  border-bottom: 1px solid #eaeaea;
}

@media (max-width: 576px) {
  main .title {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
}

/* ----- radio gender ----- */

form .gender {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 10px;
}

form .items-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 576px) {
  form .items-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

form .gender-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 5px;
}

form .gender label {
  text-align: center;
  margin-top: 0;
}

input[name="gender"] {
  margin-top: 0;
}

/* ----- inputs ----- */

form .inputs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 45px;
  grid-auto-rows: minmax(auto, 100%);
}

@media (max-width: 1200px) {
  form .inputs-container {
    column-gap: 30px;
  }
}

@media (max-width: 768px) {
  form .inputs-container {
    grid-template-columns: 1fr;
    column-gap: 10px;
  }
}

form .input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-top: 20px;
}

form .input input {
  outline: none;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 15px 10px;
}

form .input input:hover {
  border: 1px solid #8b8888;
}

/* ----- file ----- */

form .file {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
}

form .file .input-file {
  display: none;
}

form .file div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: max-content;
}

@media (max-width: 576px) {
  form .file div {
    flex-direction: column;
    gap: 10px;
  }
}

form .file .file-btn-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form .file div label div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: max-content;
  border: 1px solid #696a6a;
  border-radius: 100px;
  padding: 16px 37px;
  cursor: pointer;
}

@media (max-width: 576px) {
  form .file div label div {
    padding: 15px 20px;
    width: 100%;
  }
}

form .file div label div:hover {
  border: 1px solid #696a6a;
  box-shadow: 1px 1px 8px 1px #9a9898;
}

form .file div img {
  width: 18px;
  height: 13px;
}

.file label::before {
  content: "";
}

form #file-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  max-width: 280px;
  word-break: break-all;
}

@media (max-width: 768px) {
  form #file-name {
    max-width: 250px;
    overflow-wrap: break-word;
    hyphens: manual;
  }
}

@media (max-width: 650px) {
  form #file-name {
    max-width: 200px;
  }
}

@media (max-width: 576px) {
  form #file-name {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 0;
    max-width: 100%;
  }
}

@media (max-width: 426px) {
  form #file-name {
    max-width: 240px;
  }
}

@media (max-width: 320px) {
  form #file-name {
    max-width: 200px;
  }
}

/* ----- proposer ----- */

form .proposer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
}

form .proposer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form .proposer input {
  outline: none;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 20px 10px;
}

form .proposer input:hover {
  border: 1px solid #8b8888;
}

/* ----- radio subscription ----- */

form .subscription {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

form .subscription div {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 5px;
}

form .subscription span {
  padding: 10px 0 15px;
  width: max-content;
}

@media (max-width: 576px) {
  form .subscription span {
    width: 100%;
  }
}

input[name="subscription"] {
  margin-bottom: 3px;
}

/* ----- button ----- */

form .submit-button {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
}

input[type="submit"] {
  font-family: "Lucien", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #696a6a;
  padding: 16px 37px;
  width: max-content;
  cursor: pointer;
}

input[type="submit"]:hover {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  box-shadow: 1px 1px 8px 1px #9a9898;
}

@media (max-width: 576px) {
  input[type="submit"] {
    padding: 16px;
  }
}

@media (max-width: 426px) {
  input[type="submit"] {
    width: 100%;
  }
}

/* ----- checkbox ----- */

form .checkbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

form .checkbox span {
  max-width: 470px;
}
