* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#particles-js {
  width: 100%;
  height: max-content;
  min-height: 100vh;

  background-color: #000;
  background-size: 100%;
  background-repeat: repeat;
}

.particles-js-canvas-el {
  position: fixed;
}

body {
  width: 100%;
  height: max-content;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submission {
  z-index: 1;
}

.submission h1 {
  z-index: 2;
  font-family: 'Lucien', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 50px;
}

@media (max-width: 576px) {
  .submission h1 {
    font-size: 36px;
  }
}

.submission div {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.855);
  border-radius: 10px;
  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .submission div {
    padding: 50px;
    width: max-content;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .submission div {
    padding: 20px;
  }
}

.submission img {
  width: 70px;
  height: 61px;
}

.submission h2 {
  font-family: 'Lucien', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin: 40px 0 26px;
  max-width: 250px;
}

@media (max-width: 576px) {
  .submission h2 {
    margin: 26px 0 20px;
  }
}

@media (max-width: 400px) {
  .submission h2 {
    max-width: 230px;
  }
}

.submission span {
  font-family: 'Lucien', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #696a6a;
  margin-bottom: 40px;
}

@media (max-width: 400px) {
  .submission span {
    max-width: 230px;
  }
}

input[type="button"] {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #696a6a;
  padding: 16px 37px;
  width: max-content;
  cursor: pointer;
}

@media (max-width: 370px) {
  input[type="button"] {
    padding: 16px 25px;
  }
}

@media (max-width: 300px) {
  input[type="button"] {
    padding: 16px;
  }
}

input[type="button"]:hover {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  box-shadow: 1px 1px 8px 1px #9a9898;
}
